#!/bin/sh
### BEGIN INIT INFO
# Provides:          covate-test-application
# Required-Start:    $local_fs
# Required-Stop:     $local_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# X-Interactive:     false
# Short-Description: Covata web application
# Description:       Start/stop web application 
### END INIT INFO


# example from http://stackoverflow.com/questions/11203483/run-a-java-application-as-a-service-on-linux

DESC="Covata web application"
SERVICE_NAME=covate-test-application
PATH_TO_JAR=<%= scope.lookupvar('web_application::params::application_path') %>
PID_PATH_NAME=/tmp/covata-test-pid
USER=<%= scope.lookupvar('web_application::params::user') %>


start() {
    echo "Starting $SERVICE_NAME ..."
    if [ ! -f $PID_PATH_NAME ]; then
        su - $USER -c "java -jar $PATH_TO_JAR >> ~/web-application_logs 2>&1 & echo \$! > $PID_PATH_NAME"
        echo "$SERVICE_NAME started ..."
    else
        echo "$SERVICE_NAME is already running ..."
    fi
}

stop() {
    if [ -f $PID_PATH_NAME ]; then
        PID=$(cat $PID_PATH_NAME);
        echo "$SERVICE_NAME stoping ..."
        kill $PID;
        echo "$SERVICE_NAME stopped ..."
        rm $PID_PATH_NAME
    else
        echo "$SERVICE_NAME is not running ..."
    fi    
}

case $1 in
    start)
        start
    ;;
    stop)
        stop
    ;;
    restart)
        stop && start
    ;;
esac 
